
.done {
  text-decoration: line-through;
  color: #b6b6b6;
}

/* 上部 */

body{
  font-family: 'Gloria Hallelujah', cursive; 
  background: #ecf0f1;

}

.header-wrapper{
  height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title{
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;


}

.container{
  width:40%;

}

.container input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid rgb(234, 7, 136);
	outline: none;
}

.button-box{
  text-align: center;
}

button {
  margin:25px auto;
  background-color:#2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}

button:hover, .button:hover {
  background:#19a08c;
}


/* タスク関連 */

.task-wrapper{
  width: 500px;
  margin: 0 auto;
  font-size: 18px;
}

/* input[type="checkbox"] { display: none; } */

li{
  padding: 8px 0 ;
}

