/* ここから下に記載していく */

@charset "utf-8";

html{
  font-size: 62.5%;
}

body{
  color: black;
  font-size: 1.6rem;
  font-family: "Open Sans" "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", "メイリオ", Meiryo, Verdana, Helvetica, Arial, sans-serif;

}

img{
  max-width: 100%;
  height: auto;
}

/* title */

.title-images{
  position: relative;
}

.site-title{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

}

.main-title{
  
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
}

.sub-title{
  font-size: 40px;
}



@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* .section-title */

.section-title{
  color: #ffd61a;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 30px; 
 }

/* header */
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 121px;
  width: 70%;
}

h1>a{
  display: block;
}


.nav-list{
  display: flex;
  margin-right: 10px;
}

.nav-item{
  width: 33.3333%;
  margin: 50px 0 50px 50px;
  
}

.nav-item>a{
  display: block;
  text-decoration: none;
  font-size: 21px;
  color: black;
}

.title-images{
  margin: auto;
  text-align: center;
}


/* About */
.profile-wrapper{
  width: 720px;
  margin: auto;
  padding: 60px 0 60px;
}

.profile-wrapper p{
  text-align: center;
}

.about__discription{
  margin: 0 0 80px;
}

.about__1{
  margin: 60px;
}

.about__2{
  margin: 0 0 40px;
  line-height: 2;
}

.about__3{
  line-height: 2;
}

.about__images{
  display: flex;
  justify-content: center;
  
}

/* course */

.course__intro{
  text-align: center;
  margin: 30px 0 60px;
  line-height: 2;
}

.course__wrapper{
  display: flex;
  background-color:#EEEEEE;
  margin: auto;
  flex-wrap: wrap;
  width: 1200px;
  align-items: center;
}

.course__items{
  width: 50%;

}

.course__text{
  width: 480px;
  padding-left:50px;
}

.course__text2{
  width: 480px;
  padding-right:50px;
  margin: 0 0 0 auto;
}

.course__text h3{
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 40px;
  text-align: left;
}

.course__text2 h3{
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 40px;
  text-align: left;
}

.course__text p{
  line-height: 2;
  text-align: justify;
}

.course__text2 p{
  line-height: 2;
  text-align: justify;
}



/* News */
.news-wrapper{
  width: 945px;
  margin: auto;
  text-align: center;
  padding: 60px 0 60px;
}

.news__content{
  margin: 60px 0 60px;
  display: flex;
  justify-content: center;
}

.content__wrapper{
  width: 315px;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 2;
  padding: 15px;
}

.content__wrapper2{
  width: 309px;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 2;
  padding: 3%;
}

.content__hover a{
  display: block;
  text-decoration: none;
  color: black;
}

.content__hover:hover{
  background-color:#EEEEEE;
}


.content__date{
  margin: 30px 0 24px;
  text-align: left;
}



/* access */

.access-wrapper{
  background-color: #EEEEEE;
  width: 85%;
  margin: auto;
  padding: 60px 0;
}

.access-wrapper h3{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.access__info{
  margin: 60px auto 0;
}

.access__title{
  width: 30%;
  text-align: right;
  height: 34px;
}

.access__detail{
  width: 70%;
  text-align: left;
  height: 34px;
}

/* contact */

.form-info{
  text-align: center;
  margin: 60px 0 70px;
}

.form-info h3{
  margin: 0 0 60px;
}

.form-wrapper{
  width: 50%;
  margin: auto;
}

.form-inner{
  display: flex;
  flex-wrap: wrap;
}

.form-title{
  width: 40%;
}

.form-item{
  width: 60%;
}

.form-info__1{
  line-height: 2;
  margin: 0 0 30px
}

.form-info__2{
  line-height: 2;
}

/* sample */
.form__wrapper{
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.contact-table {
  width: 100%;
  margin-bottom: 20px;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    vertical-align: middle;
    width: 30%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}

.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.form-select {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-skill {
  display: block;
}

.contact-skill + .contact-skill {
  margin-top: 10px;
}

.contact-skill-txt {
  margin-left: 5px;
}

.form-textarea {
  width: 90%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-submit {
  width: 250px;
  background-color: #ffd61a;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}









/* footer */

.footer-wrapper{
  padding: 30px 0 30px;
  text-align: center;
  width: 100%;
  background-color: #707070;
  color: white;
  margin: 140px 0 0 0 ;
}


/* other */

.custom-highlighting::selection {
  background-color: #ffd61a;
  color: white;
}

.text_pop span{
  animation: in 0.3s forwards;
}
.text_pop span:hover{
  animation: out 0.3s forwards;
}

@keyframes out {
0% {
  text-shadow: 0px 3px 0px #ffed7a ,
}
50% {
  text-shadow: 0px 3px 0px #ffed7a , 0px 6px 0px #f4d11e ,
}
100% {
  text-shadow: 0px 3px 0px #ffed7a , 0px 6px 0px #f4d11e ,
  0px 9px 0px #a33e3e;
  transform: translate(0px,-9px);
 }
}

@keyframes in {
0% {
  text-shadow: 0px 3px 0px #ffed7a , 0px 6px 0px #f4d11e ,
  0px 9px 0px #a33e3e;
  transform: translate(0px,-9px);
}
33% {
  text-shadow: 0px 3px 0px #ffed7a , 0px 6px 0px #f4d11e ,
}
66% {
  text-shadow: 0px 3px 0px #ffed7a ,
}
100% {
  text-shadow: 0px 3px 0px #ffed7a ,
 } 
}

/* more */



.bn53:hover{
  background-color: gray;
  cursor: pointer;
}
                   
.bn53 {
  background-color: #ffd61a;
  padding: 21px 0 ;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}
