/* ここから下に記載していく */

@charset "utf-8";

html{
  font-size: 62.5%;
}

body{
  color: black;
  font-size: 1.6rem;
  font-family: "Open Sans" "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", "メイリオ", Meiryo, Verdana, Helvetica, Arial, sans-serif;

}

img{
  max-width: 100%;
  height: auto;
}

.site-title{
  color: white;

}

.site-title main-title{
  font-weight: bold;
}

.section-title{
  color: #ffd61a;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 30px; 
 }

/* About */
.profile-wrapper{
  width: 720px;
  margin: auto;
  padding: 60px 0 60px;
}

.profile-wrapper p{
  text-align: center;
}

.about__discription{
  margin: 0 0 80px;
}

.about__1{
  margin: 60px;
}

.about__2{
  margin: 0 0 40px;
  line-height: 2;
}

.about__3{
  line-height: 2;
}

/* course */