@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
  margin:5px 0;
}

.question{
  text-align: center;
  margin: 30px 0;
}

.btn_wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  margin-bottom: 50px;
}

table{
  text-align: center;
}

.btn{
  width: 100px;
  height:60px;
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #F2545B;
  border-radius: 2px;
  color: #fff;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 6px 0 #A4243B;
  
}

.btn:hover{
  top: 6px;
  box-shadow: none;
  color: #fff;

}

.result_wrapper{
  display: flex;
  justify-content: center;
  
}

.player{
  width: 40%;
  text-align: center;
}

.pc{
  width: 40%;
  text-align: center;
  
}

img{
  width: 200px;
  height: 200px;
}

p{
  font-size: 45px;
  font-weight: bold;
}

#result{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}